<!doctype html>
<html lang="en">

<head>
	{{>headerLinks}}
	<title>WeatherWebsite</title>
</head>

<body>
	{{!--
	<!-- --------- navbar --------- --> --}}
	{{>navbar}}
	{{!--
	<!-- --------- mainContaint --------- --> --}}

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-12 mx-auto">
				<div class="row">
					{{!--
					<!-- ------ left div ------ --> --}}
					<div class="col-md-6 col-12 about-left-div">
						<img class="myPhoto" src="images/introMan.jpg">
					</div>
					{{!--
					<!-- ------ right div ------ --> --}}
					<div class="col-md-6 col-12">
						<div class="about-right-div">
							<h1>Hello Friends</h1>
							<p>Welcome to our weather website ,</p>
							<p>i am Nishant argade founder of this weather website, i am glad to tell you that this is
								not
								only website but you can also use for getting daily weather update ,check after 24hours
								weather,wind direction,& also wind speed,tempearature in different cities etc..
							<p>i have completed my BE degree in IT stream from zeal colleage of engineering,and i
								created
								this usful app for prediciton of weather. Thank you! </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{!--
	<!-- ---------- Footer ------------- --> --}} --}}
	{{>footer}}
	{{!-- --------- javaScript -------------------- --}}
	{{>jvScript}}
</body>

</html>