<footer class="foot text-center">
	<div class=" container-fluid bg-dark text-white main-foot">
		<div class="row">
			<div class="col-md-10 col-12 mx-auto main-foot">
				<p class="foot-text">Copyright@2021 disign by Nishant Argade.</p>
			</div>
		</div>
	</div>
</footer>